# Ignore input and output
input/**
output/**

# Ignore assets folder
assets/*
!assets/bp-items/
!assets/new-items/
!assets/vanilla-ui/

# Recursively ignore files
assets/bp-items/**
assets/new-items/**
assets/vanilla-ui/**